@font-face {
    font-family: "Saitamaar";
    src: url("https://fonts-aahub.netlify.com/assets/fonts/Saitamaar/Saitamaar.woff2") format("woff2"),
      url("https://fonts-aahub.netlify.com/assets/fonts/Saitamaar/Saitamaar.woff") format("woff"),
      url("https://fonts-aahub.netlify.com/assets/fonts/Saitamaar/Saitamaar.ttf") format("ttf");
    font-display: swap;
  }


  .Saitamaar-pre {
    font-family: monospace;
    white-space: pre;
    font-size: 16px;
    line-height: 18px;
    background-image: linear-gradient(90deg, rgba(255, 97, 97, 1), rgba(233, 178, 45, 1) 20%, rgba(192, 202, 75, 1) 34%, rgba(53, 179, 56, 1) 58%, rgba(86, 110, 243, 1) 79%, rgba(154, 39, 238, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-position: 1% 50%;
  background-size: 200% auto;
  /*アニメーションの指定*/
  animation: bggradient 5s ease infinite;
  }

  @keyframes bggradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  p{
    text-align: center;
  }

 
